{% extends 'base.html' %}


{% block content %}

    <br/>
        {% for mesg in get_flashed_messages() %}
        <p style="color: red">{{ mesg }}</p>
        {% endfor %}

        <h1>Editing {{data[1]}}'s data</h1>
        </br>
        <form method="post">
            <div class="msg">{{ msg }}</div>

            <label for="first_name">First Name:</label>
            <input id="first_name" name="first_name" value="{{request.form.get('first_name') or data[1]}}" placeholder="{{data[1]}}" class="form-control-sm"/></br></br>

            <label for="last_name">Last Name:</label>
            <input id="last_name" name="last_name" value="{{request.form.get('last_name') or data[2]}}" placeholder="{{data[2]}}" class="form-control-sm"/></br></br>

            <label for="age">Age:</label>
            <input id="age" name="age" value="{{request.form.get('age') or data[3]}}" placeholder="{{data[3]}}" class="form-control-sm"/></br></br>

            <label for="phone_number">Phone Number:</label>
            <input id="phone_number" name="phone_number" value="{{request.form.get('phone_number') or data[4]}}" placeholder="{{data[4]}}" class="form-control-sm"/></br></br>

            <label for="street">Street:</label>
            <input id="street" name="street" value="{{request.form.get('street') or data[6]}}" placeholder="{{data[6]}}" class="form-control-sm"/></br></br>

            <label for="district">District:</label>
            <input id="district" name="district" value="{{request.form.get('district') or data[7]}}" placeholder="{{data[7]}}" class="form-control-sm"/></br></br>

            <label for="province">Province:</label>
            <input id="province" name="province" value="{{request.form.get('province') or data[8]}}" placeholder="{{data[8]}}" class="form-control-sm"/></br></br>

            <label for="postal_code">Postal Code:</label>
            <input id="postal_code" name="postal_code" value="{{request.form.get('postal_code') or data[9]}}" placeholder="{{data[9]}}" class="form-control-sm"/></br></br>

            <input type="submit" class="btn btn-primary" value="SUBMIT"></br>
        </form>
    <br/>
    

{% endblock %}


        <!--
        <td>{{data[0]}}</td>
        <td>{{data[1]}}</td>
        <td>{{data[2]}}</td>
        <td>{{data[3]}}</td>
        <td>{{data[4]}}</td>
        <td>{{data[6]}}</td>
        <td>{{data[7]}}</td>
        <td>{{data[8]}}</td>
        <td>{{data[9]}}</td>