{% extends 'base.html' %}
{% block content %}
    <br/>
    {% for mesg in get_flashed_messages() %}
    <div class="alert alert-danger">{{ mesg }}</div>
    {% endfor %}
    <h1 style="text-align: center">User Information</h1>
    <br/>
    <div>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
                <th style= "vertical-align: middle;">ID</th>
                <th style= "vertical-align: middle;">First Name</th>
                <th style= "vertical-align: middle;">Last Name</th>
                <th style= "vertical-align: middle;">Age</th>
                <th style= "vertical-align: middle;">Phone Number</th>
                <th style= "vertical-align: middle; text-align: center; ">Address</th>
                <th style = "vertical-align: middle; text-align: center; ">options</th>
        </tr>
        </thead>
        <tbody>
        {% for row in data%}
        <tr>
            <td style= "vertical-align: middle;">{{row[0]}}</td>
            <td style= "vertical-align: middle;">{{row[1]}}</td>
            <td style= "vertical-align: middle;">{{row[2]}}</td>
            <td style= "vertical-align: middle;">{{row[3]}}</td>
            <td style= "vertical-align: middle;">{{row[4]}}</td>

            <td style= "vertical-align: middle; text-align: center; ">
                <a href="{{ url_for('userinfo', user_id = row[0]) }}">
                    <button class="btn btn-primary">VIEW</button>
                </a>
            </td>

            <td style= "vertical-align: middle; text-align: center;" >

                <a href="{{ url_for('edit', user_id = row[0]) }}">
                    <button class="btn btn-primary">EDIT</button>
                </a>
            
            <a href="{{ url_for('delete', user_id = row[0]) }}">
                <button class="btn btn-danger">DELETE</button>
            </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>


{% endblock %}
